
/*--------------------------main--------------------------------------- */
.vo__in{
    padding: 60px 0;
    width: 80%;
    margin: 0 auto;
}
@media screen and (max-width: 810px){
    .vo__in{
        width: 90%;
        padding: 30px 0;
    }
}
.vo__item{
    display: flex;
}
@media screen and (max-width: 810px){
    .vo__item{
        display: block;
    }
}
.pc {
    display: block !important;
}
.sp {
    display: none !important;
}
@media only screen and (max-width: 810px) {
    .pc { display: none !important; }
    .sp { display: block !important; }
}
.item-img{
    width: 150%;
}

@media screen and (max-width: 810px){
    .item-img{
        width: 100%;
    }
    
}
.item-img-mi {
    /* width: 65%; */
    /* margin: 0 60px; */
    text-align: center;
}
.item-img-sb{
    padding: 0 10%;
}
.item-img-sb  ul{
    display: flex;
    flex-wrap: wrap;
}

.col-item{
    margin-top: 20px;
    padding-right: 3px;
}
.mi-item{
    width: 70%;
}
.sb-item{
    width: 100px;
}
.opa{
    animation: anime 1s;
        }
@keyframes anime {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@media screen and (max-width: 810px){
    .swiper-slide{
        width: 100%;
    }
}
.info-item{
    width: 100%;
    padding-top: 80px;
}
@media screen and (max-width: 810px){
    .info-item{
        padding-top: 10px;
    }
}
.info-item-teble{
    margin-bottom: 20px;
    /* border-top: 1px solid #dbdbdb; */
    border: 1px solid #dbdbdb;
}
.info-item-teble input{
    width: 3em;
    text-align: right;
}
table{
    border-collapse: collapse;
}
th{
    width: 30%;
    padding: 1em .5em 1em .5em;
    border: 1px solid #dbdbdb;
    text-align: left;
    /* padding-top: 1em;
    padding-right: .5em;
    padding-bottom: 1em; */
    /* border-right: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb; */
}
 td{
    width: 700px;
    /* overflow: hidden; */
    padding: 1em .5em 1em 1em;
    border: 1px solid #dbdbdb;
    /* padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em; */
    /* border-bottom: 1px solid #dbdbdb; */
}
select{
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 30px;
    line-height: 30px;
}
.vo__item input{
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    line-height: 20px;
}
.info-cartin{
    padding-bottom: 50px;
}
@media screen and (max-width: 810px){
    .info-cartin{
        padding-bottom: 20px;
    }
}
.btn-2{
    width: 100%;
    height: 60px;
    font-size: 21px;
    border: 1px solid #0f0f0f;
    border-radius:6;
    background-color: #0f0f0f;
    color: #fff;
    cursor: pointer;
    -webkit-border-radius:6;
    -moz-border-radius:6;
    -ms-border-radius:6;
    -o-border-radius:6;
}

.info-list li{
    margin: 15px 0;
}
@media screen and (max-width: 810px){
    .info-list {
        font-size: 15px;
        padding-left: 20px;
        text-decoration: underline;
    }
}
.info-list a{
    color: #444;
    text-decoration: none;
}
.info-list a:hover{
    text-decoration: underline;
}
.details{
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    font-size: 90%;
    clear: #444;
    line-height: 1.6;
}
@media screen and (max-width: 810px){
    .details{
        margin: 0;
        padding: 20px 20px 40px 20px;
        font-size: 12px;
    }
}
.cm{
    padding-bottom: 20px;
}
.describe{
    padding-bottom: 20px;

}
.describe dt{
    width: 70px;
    float: left;
}
.describe dd::before{
    content: '：';
}
.describe-dg{
    padding-bottom: 20px;
}
.describe-dg h4::before{
    content: '《';
}
.describe-dg h4::after{
    content: '》';
}
.describe-dg p::before{
    content: '□';
}
.describe-size h4{
    padding-bottom: 20px;
}
.describe-size p{
    display: inline-block;
}
.describe-pants dd{
    width: 50px;
    padding-right: 40px;
    display: inline-block;
}
.describe-size dl{
    padding-bottom: 10px;
}



.describe-size h4::before{
    content: '--';
}
.describe-size h4::after{
    content: '--';
}
center{
    clear: both;
}
center img{
    padding-top: 50px;
    padding-bottom: 100px;
}
.item-top{
    width: 200px;
    padding-top: 50px;
    margin: 0 auto;
}


.swiper-container {
    width: 90%;
}
@media screen and (max-width: 810px){
    .swiper-container{
        width: 100%;
        height: 100%;
    }
}
.swiper-slide{
    padding-bottom: 50px;
    
    
}
.swiper-pagination{
    margin-top: 20px;
}