  /*--------------------------all--------------------------------------- */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
li{
    list-style: none;
}
header{
    color: #4d4d4d;
    font-size: 14px;
    letter-spacing: 0.1em;
    line-height: 1.5;
    margin: 0;
    box-sizing: border-box;
}


hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #eee;
}
img{
    max-width: 100%;
    vertical-align: bottom;
}


 /*--------------------------header--------------------------------------- */
.hd{
  padding: 30px 0;
  transition: .3s;
}
.hd__in{
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: content-box;
  padding-right: 40px;
  padding-left: 40px;
  display: flex;
  justify-content: space-between;
}
.hd__logo{
  margin: 15px 0;
}

.hd__nv{
    z-index: 1000;
}

.hd__nv__icon{
    display: flex;
    align-items: center;
    float: right;
}
.hd__nv__txt{
    font-size: 15px;
    color:#5E5E5E;
    text-decoration: none;
}
.hd__nv__txt:hover{
    text-decoration: underline;
}
.icon-user::before{
    background-position: 0 -32px;
}
.icon-regist::before{
    background-position: 0 -112px;
}
.icon-login::before{
    background-position: 0 -144px;
}
.text-cart::before{
    background-position: 0 0;
}
.icon-down::before{
    margin-top: 2px;
    background-position: 0 -64px;
}
.icon::before{
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    position: relative;
    top: 2px;
    margin-right: 5px;
    background-image: url(../img/icon_16-b.png);
    background-size: 16px 160px;
    background-repeat: no-repeat;
    content: "";
}
.icon-white::before{
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    position: relative;
    top: 2px;
    margin-right: 5px;
    background-image: url(../img/icon_16-w.png);
    background-size: 16px 160px;
    background-repeat: no-repeat;
    content: "";
}
.menu01::before {
    background-position: 0 -64px;
    left: 20%;
}
.cart{
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #4D4D4D;
    display: inline-block;
    background-color: #4D4D4D;
    color: #fff;
}
.hd__nv__cart{
    display: inline-block;
}
.hd__nv__menu{
    display: flex;
    float: right;
}
ul.hd__dpmenu{
  /* width: 100%;
  height: 40px; */
  position: relative;
  /* z-index: 100; */
  margin: 0 auto;
  padding: 0;
  display: table;
  table-layout: fixed;
}
ul.hd__dpmenu > li {
  position: relative;
  display: table-cell;
  vertical-align: middle;
}
ul.hd__dpmenu li a {
  display: block;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
}
ul.hd__dpmenu li ul {
  visibility: hidden;
  width: 100%;
  list-style: none;
  position: absolute;
  top: 100%;
  left: -1px;
  margin: 0;
  padding: 0;
  border: 1px solid #222; /*マウスオーバー時の枠線 */
  border-top: none;
}
ul.hd__dpmenu li:hover ul {
  visibility: visible;
}
ul.hd__dpmenu li ul li {
  background: #fff;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
}
ul.hd__dpmenu > li:hover {
  background: #fff;
  border: 1px solid #222;
  border-bottom: none;
}
ul.hd__dpmenu li:hover ul li:hover {
  background: #f8f8f8;
}
.hd__nv__under li a{
    font-size: 15px;
    color:#5E5E5E;
    text-decoration: none;
}
.hd__nv__under li a:hover{
    text-decoration: underline;
}
.nv__menu__txt{
    font-size: 18px;
    color:#5E5E5E;
    text-decoration: none;
}
.nv__menu__txt:hover{
    text-decoration: underline;
}
header ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
header li{
    padding-left: 1em;
    padding-right: 1em;
}
/*--------------------------アコーディオンメニュー--------------------------------------- */

.sp-acdi{
    max-width: 600px;
}

.sp-acdi a {
    display: block;
    text-decoration: none;
    text-align: center;
    margin: 0;
    padding: 0;

}

label {
    display: block;
    padding: 20px 0;
    text-align: center;
    color: #000;
    border-top: 1px solid #4d4d4d;
}

input {
    display: none;
}

.sp-acdi ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sp-acdi li {
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#menu_bar01:checked ~ #hbCategory li{
    height: 60px;
    opacity: 1;
}

#hbCategory a{
  background: #5E5E5E;
  color: #f8f8f8;
}










/*--------------------------アコーディオンメニュー--------------------------------------- */
/*--------------------------hb--------------------------------------- */
/*　ハンバーガーボタン　*/
.hd__hb{
  display: none;
  position: fixed;
  z-index : 4;
  right : 13px;
  top   : 12px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}
.hd__hb span{
  display: block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 6px;
  background : #555;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}

.hd__hb span:nth-child(1) {
  top: 10px;
}
.hd__hb span:nth-child(2) {
  top: 20px;
}
.hd__hb  span:nth-child(3) {
  top: 30px;
}

.hd__hb span:nth-child(1) {
  top: 10px;
}
.hd__hb span:nth-child(2) {
  top: 20px;
}
.hd__hb span:nth-child(3) {
  top: 30px;
}


nav.hd__nv-sp{
  position: fixed;
  width: 100%;
  height: 100%;
  top  : 0;
  left : 600px;
  z-index: 2;
  padding-bottom: 50px;
  color: #000;
  background: #fff;
  text-align: center;
  transform: translateX(100%);
  transition: all 0.6s;
}
.hd__nv-sp__logo{
    width: 40px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}
.hd__nv-sp__menu{
    max-width: 600px;
    border-collapse: collapse;
    height: 550px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.hd__nv-sp__menu a{
    display: block;
    text-decoration: none;
    text-align: center;
    border-top: 1px solid #4b4b4b;
    margin: 0;
    padding: 0;
    /* background: #eee; */
}


nav.hd__nv-sp ul {
  /* border: 1px solid #4b4b4b; */
  text-decoration: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}


nav.hd__nv-sp ul li {
  list-style-type: none;
  padding: 0;
  /* width: 100%; */
}


nav.hd__nv-sp ul li a {
  display: block;
  color: #000;
  padding: 20px 0;
  text-decoration :none;
}
.hd__nv-sp__menu .pp:last-child{
  border-bottom: 1px solid #4b4b4b;
}

.hd__nv-sp__ety{
    position: relative;
}
.hd__nv-sp__ety a{
    position: absolute;
    display: block;
    background-color: #fff;
    width: 60%;
    line-height: 10px;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
}
.hd__nv-sp__img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.ai{
  margin-bottom: 50px;
}

/* このクラスを、jQueryで付与・削除する */
nav.hd__nv-sp.active {
  transform: translateX(0%);
  left: 0;
}
.hd__hb.active span:nth-child(1) {
  top : 16px;
  left: 6px;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  transform        : rotate(-45deg);
}

.hd__hb.active span:nth-child(2),
.hd__hb.active span:nth-child(3) {
  top: 16px;
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  transform        : rotate(45deg);
}


@media screen and (max-width: 810px){
.hd{
    padding: 0;
  }
}
@media screen and (max-width: 810px){
.hd__nv {
    display: none;
  }
}
@media screen and (min-width: 811px){
  .hd__logo{
      width: 300px;
  }
}
@media screen and (max-width: 810px){
  .hd__logo{
      padding: 10px 0 15px 0;
      margin: 0;
      text-align: center;
      display: block;
  }
}

@media screen and (max-width: 810px){
  .hd__logo img{
    width: 50%;
  }
}

@media screen and (max-width: 810px){
  .hd__hb{
    display: block;
    transition: .7s;
  }
}

@media screen and (min-width: 810px){
  .hd__nv-sp{
    display: none;
    transition: .7s;
  }
}
@media screen and (max-width: 373px){
  .hd__nv-sp__ety a{
    font-size: 13px;
  }
}

/*--------------------------hb--------------------------------------- */


.swiper-container {
    width: 90%;
}
@media screen and (max-width: 810px){
    .swiper-container{
        width: 100%;
        height: 100%;
    }
}
.swiper-slide{
    padding-bottom: 50px;
    
    
}

/*--------------------------main--------------------------------------- */
.txt{
    /* text-decoration: none; */
    margin: 5px 0;
    font-size: 14px;
}
@media screen and (max-width: 810px){
    .txt{
      margin: 2px 0;
        font-size: 13px;
    }
}
.txt a{
  color:#4f4f4f;
  text-decoration: none;
}
.txt a:hover{
  text-decoration: underline;
}
/* @media screen and (max-width: 480px){
    #container{
        margin-top: 20px;
    }
} */
.i-block{
    padding: 80px 0 40px 0;
}
.content-block{
    max-width: 1160px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    align-items: center;
}
/* @media screen and (max-width: 480px){
    .content-block{
        width: 100%;
        height: 100%;
        margin-top: 30px;
        flex-wrap: wrap;
    }
} */
.i-ttl{
    text-align: center;
    margin-bottom: 40px;
}
.i-product__li{
    /* display: -ms-flexbox; */
    display: flex;
    /* -ms-flex-wrap: wrap;
    flex-wrap: wrap; */
    /* -ms-flex-direction: row;
    flex-direction: row; */
    /* -ms-flex-pack: start;
    justify-content: flex-start; */
    /* -ms-flex-align: stretch;
    align-items: stretch; */
}

.i-product__li li:nth-of-type(-n+6){
    margin-bottom: 40px;
}
.i-product__li li:nth-of-type(6n){
    margin-right: 0;
}

.i-product__li__img{
    margin-bottom: 20px;
}
.item-box{
    width: 40%;
    margin-right: 40px;
    text-align: center;
}

.obj-fit{
    height: 200px;
    object-fit: cover;
}

.product__li__ttl{
    font-size: 13px;
    text-align: center;
    color:#5E5E5E;
    text-decoration: none;
    margin-bottom: 20px;
    /* flex-grow: 1; */
}
.product__li__price{
    font-size: 12px;
    color: black;
}
.text-affect:hover{
    text-decoration: underline;
}

.ranking-box {
  counter-reset: wpp-ranking;
}
.ranking-box .item-box {
  position: relative;
}
.ranking-box .item-box:before {
  background: #999;
  border-radius: 50%;
  content: counter(wpp-ranking, decimal);
  counter-increment: wpp-ranking;
  color: #fff;
  font-size: 14px;
  line-height: 1;
  padding: 8px 12px;
  position: absolute;
  top: -10px;
  left: 0;
}

.ranking-box .item-box:nth-child(1):before {
  background: #fa0;
}
.ranking-box .item-box:nth-child(2):before {
  background: #bbb;
}
.ranking-box .item-box:nth-child(3):before {
  background: #930;
}
.blog-img{
    margin: 0 auto;
    text-align: center;
}
.blog-img img{
    width: 500px;
    padding-top: 30px;
}
.check{
    padding-bottom: 30px;
}
@media screen and (max-width: 810px){
  .i-product__li{
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 810px){
    .blog-img img{
        width: 100%;
        padding-top: 20px;
    }
}
@media screen and (max-width: 810px){
    .i-block{
        padding: 40px 0 20px 0;
    }
}
@media screen and (max-width: 810px){
    .item-box{
      width: 47%;
        margin-right: 20px;
    }
}
@media screen and (max-width: 373px){
    .item-box{
      width: 46%;
        margin-right: 20px;
    }
}
@media screen and (max-width: 810px){
    .i-product__li li:nth-of-type(2n){
        margin-right: 0px;
    }
}
@media screen and (max-width: 810px){
    .ranking-box .item-box:before {
        left: 15px;
    }
}
@media screen and (max-width: 810px){
    .text-affect{
        font-size: 12px;
    }
}

/*--------------------------footer--------------------------------------- */

.ft{
    width: 100%;
    padding-top: 80px;
    
}
@media screen and (max-width: 810px){
    .ft{
        border-bottom: 1px solid #e0e0e0;
        padding: 0;
        margin-top: 20px;
    }
}
.ft__in{
    display: flex;
    background-color: black;
}
@media screen and (max-width: 810px){
    .ft__in{
        width: 100%;
        background-color: #fff;
        display: inline-block;
    }
}
@media screen and (max-width: 810px){
    .sh{
        display: none;
    }
}
.ft__in__list{
    padding: 30px 0 30px 40px;
    width: 20%;
}
@media screen and (max-width: 810px){
    .ft__in__list{
        width: 100%;
        padding: 0;
    }
}
.ft__in__list li{
    margin: 20px 0;
}
@media screen and (max-width: 810px){
    .ft__in__list li{
        margin: 0;

    }
}
.ft__in__list a{
    text-decoration: none;
    color:white;
}
@media screen and (max-width: 810px){
    .ft__in__list a{
        display: block;
        color: #212121;
        background-color: #fff;
        font-size: 12px;
        padding: 10px 5px 10px;
        border-top: 1px solid #e0e0e0;
    }
}
@media screen and (max-width: 810px){
    .d-list{
        border-bottom: 1px solid #e0e0e0;
    }
}

address{
    padding: 10px 0;
    text-align: center;
}
@media screen and (max-width: 810px){
    address{
        padding: 20px;
        font-size: 10px;
    }
}
